<!DOCTYPE html>
<html ng-app="myCountryApp">
<head>
	<title>Angular Modules</title>
	<link href="Angular.css" rel="stylesheet" type="text/css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="app_ng-src.js"></script>
</head>
	<body>
		<header ng-include="'http://127.0.0.1:8887/Angular_Module_5_Header_ng-include.html'"></header>
			<div class="content">
				<div ng-controller="countryController">
					<button ng-click="order = 'name'">Order by Name</button>
					<button ng-click="order = 'corruption'">Order by Corruption</button>
					<input type="text" ng-model="search" placeholder="search for a country" />
					<ul>
						<li ng-repeat="country in countries | orderBy: order | filter: search" ng-show="country.contacts">
							<!-- waits till Angular injects source, pulls the images from app_ng-src.js, ng-show only shows a picture if it exists,
							accounts for new countries without associated pictures -->
							<img ng-src="{{country.thumb}}" style="margin: -12px 10px 0 0; float: left; width: 50px; height: 50px;" 
								ng-show="country.thumb"/>
							<h3>{{country.name}} - {{country.pay | currency}}</h3>
							<div class="remove" ng-click="removeCountry(country)">x</div>
							<span class="belt" style="background: {{country.colorCode}}">{{country.corruption}} corruption</span>
						</li>
					</ul>
					<form ng-submit="addCountry()">
						<input type="text" placeholder="name" ng-model="newCountry.name" />
						<input type="text" placeholder="corruption" ng-model="newCountry.corruption" />
						<input type="text" placeholder="pay" ng-model="newCountry.pay" />
						<input type="submit" value="Add New Country" />
					</form>
				</div>
			</div>
	</body>	
</html>